/* 
option button uses tailwind Indigo colors
project-button uses tailwind Violet colors
*/
@font-face {
  font-family: 'SourceSans3-VariableFont_wght';
  src: url('../fonts/SourceSans3-VariableFont_wght.ttf');
  font-style: normal;
}

* {
  font-family: 'SourceSans3-VariableFont_wght';
}

:root {
  --priority-3: #7dd3fc;
  --priority-3-border: #0c4a6e;

  --priority-2: #6ee7b7;
  --priority-2-border: #064e3b;

  --priority-1: #fda4af;
  --priority-1-border: #881337;

  --priority-4: #d4d4d8;
  --priority-4-border: #18181b;

  --text-size-xs: 0.64rem;
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.25rem;
  --text-size-xl: 1.56rem;
  --text-size-2xl: 1.95rem;
  --text-size-3xl: 2.44rem;
  --text-size-4xl: 3.05rem;
  --text-size-5xl: 3.81rem;

  --color-1: white;
  --color-2: white;
  --color-3: white;
  --color-4: white;
}

html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 500;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}
              
body,html {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: min(300px, 33%) 1fr;
  background-color: #f5f3ff;
  height: 100vh;
}

#projects {
  display: flex;
  flex-direction: column;
}

#projects-section {
  overflow: auto;
  background-color: #ede9fe;
  padding-left: 1rem;
  padding-right: 1rem;
}

.project-button {
  border: none;
  background-color: transparent;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
  width: 100%;
}

.project-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project-button:active {
  font-weight: bold;
}

.project-container:hover {
  background-color: #ddd6fe;
}

#new-project{
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: var(--text-size-lg);
  display: flex;
  
}

#new-project:hover{
  background-color: #ff3982;
  color: #FFFFFF;
  border-radius: 10px;
}

.project-option-button {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.project-option-button:hover {
  background-color: #c7d2fe;
}

.project-option-button:active {
  background-color: #a5b4fc;
}

.project-container {
  display: flex;
}

.project-container:hover .project-option-button {
  display: inline-block;
}
.project-container.selected, .project-container:hover {
  border-radius: 5px;
}

.project-container.selected {
  background-color: #FB6F92;
}

.material-symbols-outlined {
  font-size: inherit !important;
}

.project-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-li {
  cursor: pointer;
  width: 100%;
}

.todo-li:hover {
  background-color: #f0abfc;
}

#new-todo-form {
  display: flex;
  flex-direction: column;
}

#task-desc {
  height: 8em;
}

#submit-new-todo, #cancel-new-todo{
  max-width: fit-content;
}

.button-group {
  display: flex;
}

.due-date {
  font-size: var(--text-size-sm);
}

.todo-check {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.check-button {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.check-button.priority-1 {
  background-color: var(--priority-1);
  border: 1px solid var(--priority-1-border);
}

.check-button.priority-2 {
  background-color: var(--priority-2);
  border: 1px solid var(--priority-2-border);
}

.check-button.priority-3 {
  background-color: var(--priority-3);
  border: 1px solid var(--priority-3-border);
}

.check-button.priority-4 {
  background-color: var(--priority-4);
  border: 1px solid var(--priority-4-border);
}

dialog {
  border: none !important;
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
}

#new-todo-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: var(--text-size-md);
  align-self: stretch;
  margin-left: 2rem;
  margin-right: 2rem;
}

#new-todo-button:hover {
  background-color: #ff3982;
  color: #FFFFFF;
}

#project-name {
  font-size: var(--text-size-xl);
  font-weight: 500;
}

.project-header-container>p{
  font-weight: 500;
}