/* 
option button uses tailwind Indigo colors
project-button uses tailwind Violet colors
*/
:root {
  --priority-3: #7dd3fc;
  --priority-3-border: #0c4a6e;

  --priority-2: #6ee7b7;
  --priority-2-border: #064e3b;

  --priority-1: #fda4af;
  --priority-1-border: #881337;

  --priority-4: #d4d4d8;
  --priority-4-border: #18181b;
}

body,html {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: #f5f3ff;
  height: 100vh;
}

#projects {
  display: flex;
  flex-direction: column;
}

#projects-section {
  overflow: auto;
  background-color: #ede9fe;
}

.project-button {
  border: none;
  background-color: transparent;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}

.project-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project-button:active {
  font-weight: bold;
}

.project-container:hover {
  background-color: #ddd6fe;
}

.project-container {
  display: flex;
  justify-content: space-between;
}

.project-option-button {
  right: 10px;
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.project-option-button:hover {
  background-color: #c7d2fe;
}

.project-option-button:active {
  background-color: #a5b4fc;
}

.project-container:hover .project-option-button {
  display: inline-block;
}

.project-container.selected {
  background-color: #f0abfc;
}

.material-symbols-outlined {
  font-size: inherit !important;
}

.project-header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-li {
  cursor: pointer;
}

.todo-li:hover {
  background-color: #f0abfc;
}

#new-todo-form {
  display: flex;
  flex-direction: column;
}

#task-desc {
  height: 8em;
}

#submit-new-todo, #cancel-new-todo{
  max-width: fit-content;
}

.button-group {
  display: flex;
}

.due-date {
  font-size: small;
  height: 2rem;
}

.todo-check {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.check-button {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.check-button.priority-1 {
  background-color: var(--priority-1);
  border: 1px solid var(--priority-1-border);
}

.check-button.priority-2 {
  background-color: var(--priority-2);
  border: 1px solid var(--priority-2-border);
}

.check-button.priority-3 {
  background-color: var(--priority-3);
  border: 1px solid var(--priority-3-border);
}

.check-button.priority-4 {
  background-color: var(--priority-4);
  border: 1px solid var(--priority-4-border);
}